#  Outline runtime
NODE_ENV=production
PORT=3000
URL=http://localhost:8080
FORCE_HTTPS=false
PGSSLMODE=disable

#Services
DATABASE_URL=postgres://outline:outline@postgres:5432/outline
REDIS_URL=redis://redis:6379

# SECRET_KEY must be 64 hex chars: `openssl rand -hex 32`
# UTILS_SECRET should also be 64 hex chars: `openssl rand -hex 32`
SECRET_KEY=
UTILS_SECRET=
