.env
.env.*
*node_modules
.tfstate
.tfstate*
.tvars.json
.terraform/
*.tfvars.json
Thumbs.db
.log
*.tfplan
LICENSE.txt
modules.json
terraform.tfstate.backup
terraform.tfstate
**/.terraform/
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*.secret
secrets.*
node_modules
*.tfvars
terraform.tfvars